<<<<<<< HEAD
/*     Slider     */

.slider-default .ui-slider-range {
  background: $default-color;
}

.slider-primary .ui-slider-range {
  background: $primary-color;
}

.slider-info .ui-slider-range {
  background: $info-color;
}

.slider-success .ui-slider-range {
  background: $success-color;
}

.slider-warning .ui-slider-range {
  background: $warning-color;
}

.slider-danger .ui-slider-range {
  background: $danger-color;
=======
/*     Slider     */

.slider-default .ui-slider-range {
  background: $default-color;
}

.slider-primary .ui-slider-range {
  background: $primary-color;
}

.slider-info .ui-slider-range {
  background: $info-color;
}

.slider-success .ui-slider-range {
  background: $success-color;
}

.slider-warning .ui-slider-range {
  background: $warning-color;
}

.slider-danger .ui-slider-range {
  background: $danger-color;
>>>>>>> 2a0b7f0f103ee47a74d286c32c4864e08d087796
}