<<<<<<< HEAD
/*   Background   */

.bg-default {
  background: $default-color !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-info {
  background: $info-color !important;
}

.bg-success {
  background: $success-color !important;
}

.bg-warning {
  background: $warning-color !important;
}

.bg-danger {
  background: $danger-color !important;
=======
/*   Background   */

.bg-default {
  background: $default-color !important;
}

.bg-primary {
  background: $primary-color !important;
}

.bg-info {
  background: $info-color !important;
}

.bg-success {
  background: $success-color !important;
}

.bg-warning {
  background: $warning-color !important;
}

.bg-danger {
  background: $danger-color !important;
>>>>>>> 2a0b7f0f103ee47a74d286c32c4864e08d087796
}