<<<<<<< HEAD
*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
=======
*:focus {
  outline: 0 !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
>>>>>>> 2a0b7f0f103ee47a74d286c32c4864e08d087796
}